<div class="content">
  <div class="undernav">
    <div class="header">
      <p>Responsive App</p>
    </div>
  </div>
  <div class="nav">
    <div class="header">
      <p>Responsive App</p>  
    </div>
  </div>
  <div class="container">
  <div class="boxcontainer">
    <div class="box">
      <div class="title">
        <p>Type I</p>
        <div class="calculator">
          <p id="typeI"></p>
          <p id="percent">%</p>
        </div>
      </div>
      <div class="hidden">  
        <div class="row0">
          <div>Value I</div>
          <div>Value II</div>
        </div>
        <div class="row1">
          <select class="project css-select" id="a1" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
          <p>Label Name</p>
          <select class="skill css-select" id="b1" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
        </div>
        <div class="row1">
          <select class="project css-select" id="a2" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
          <p>Label Name</p>
          <select class="skill css-select" id="b2" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
        </div>
        <div class="row1">
          <select class="project css-select" id="a3" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
          <p>Label Name</p>
          <select class="skill css-select" id="b3" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
        </div>
        <div class="row1">
          <select class="project css-select" id="a4" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
          <p>Label Name</p>
          <select class="skill css-select" id="b4" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="title">
        <p>Type II</p>
        <div class="calculator">
          <p id="typeII"></p>
          <p id="percent">%</p>
        </div>
      </div>
      <div class="hidden">  
        <div class="row0">
          <div>Value I</div>
          <div>Value II</div>
        </div>
        <div class="row1">
          <select class="project css-select" id="c1" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3 selected="selected">3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
          <p>Label Name</p>
          <select class="skill css-select" id="d1" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3 selected="selected">3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
        </div>
        <div class="row1">
          <select class="project css-select" id="c2" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3 selected="selected">3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
          <p>Label Name</p>
          <select class="skill css-select" id="d2" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3 selected="selected">3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
        </div>
        <div class="row1">
          <select class="project css-select" id="c3" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5  selected="selected">5</option>
          </select>
          <p>Label Name</p>
          <select class="skill css-select" id="d3" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
        </div>
        <div class="row1">
          <select class="project css-select" id="c4" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5  selected="selected">5</option>
          </select>
          <p>Label Name</p>
          <select class="skill css-select" id="d4" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="boxcontainer">
    <div class="box">
      <div class="title">
        <p>Type III</p>
        <div class="calculator">
          <p id="typeIII"></p>
          <p id="percent">%</p>
        </div>
      </div>
      <div class="hidden">  
        <div class="row0">
          <div>Value I</div>
          <div>Value II</div>
        </div>
        <div class="row1">
          <select class="project css-select" id="e1" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3 selected="selected">3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
          <p>Label Name</p>
          <select class="skill css-select" id="f1" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3 selected="selected">3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
        </div>
        <div class="row1">
          <select class="project css-select" id="e2" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3 selected="selected">3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
          <p>Label Name</p>
          <select class="skill css-select" id="f2" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3 selected="selected">3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
        </div>
        <div class="row1">
          <select class="project css-select" id="e3" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3 selected="selected">3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
          <p>Label Name</p>
          <select class="skill css-select" id="f3" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3 selected="selected">3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
        </div>
        <div class="row1">
          <select class="project css-select" id="e4" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3 selected="selected">3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
          <p>Label Name</p>
          <select class="skill css-select" id="f4" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3 selected="selected">3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="title">
        <p>Type IV</p>
        <div class="calculator">
          <p id="typeIV"></p>
          <p id="percent">%</p>
        </div>
      </div>
      <div class="hidden">  
        <div class="row0">
          <div>Value I</div>
          <div>Value II</div>
        </div>
        <div class="row1">
          <select class="project css-select" id="g1" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3 selected="selected">3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
          <p>Label Name</p>
          <select class="skill css-select" id="h1" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3 selected="selected">3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
        </div>
        <div class="row1">
          <select class="project css-select" id="g2" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3 selected="selected">3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
          <p>Label Name</p>
          <select class="skill css-select" id="h2" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3 selected="selected">3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
        </div>
        <div class="row1">
          <select class="project css-select" id="g3" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3 selected="selected">3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
          <p>Label Name</p>
          <select class="skill css-select" id="h3" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3 selected="selected">3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
        </div>
        <div class="row1">
          <select class="project css-select" id="g4" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3 selected="selected">3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
          <p>Label Name</p>
          <select class="skill css-select" id="h4" onchange="myFunction()">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3 selected="selected">3</option>
            <option value=4>4</option>
            <option value=5>5</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="totalbar">
    <div class="fitbar"></div>
    <div class="total">
      <p>Total Value</p>
      <div class="calculator1">
        <p id="fit"></p>
        <p id="percent">%</p>
      </div>
    </div>
  </div>
</div>